body.cl-body {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

.cl-cover-container {
    max-width: 600px;
    /* border: 1px solid white; */
}

.cl-ptb-logo {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    /* margin-top:20px */
}

header.cl-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Home Page */

.cl-home-content {
    text-align: center;
}

.cl-donor-name-box {
    margin: 50px 0;
}

h1.cl-big-donor-name, h2.cl-big-donor-name {
    font-family: 'Shrikhand', serif;
    font-size: 3.3em;
    color: #eaeaea;
    max-width: 100%;
    width: 420px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1;
}

.cl-text-shadow {
    font: bold 52px Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 1px #CB4B16, 2px 2px #CB4B16, 3px 3px #CB4B16;
}

.cl-big-donor-message {
    text-transform: uppercase;
}

.cl-button-box {
    margin-top: 60px;
}

.cl-big-action-button {
    margin-bottom: 80px;
    padding: 4px 20px;
    width: 100%;
    max-width: 280px;
    margin: 3px 0;
    min-height: 40px;
    font-size: 23px;
    text-transform: uppercase;
}


.cl-button-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    fill: white;
    vertical-align: middle;
}

.cl-button-text {
    vertical-align: middle;
    width: 120px;
    display: inline-block;
    text-align: left;
    padding-left: 8px;
    line-height: 1.2;
}

.cl-big-logo-box {
    margin-top: 60px;
}

.cl-big-logo {
    width: 100%;
    max-width: 230px;
    display: inline-block;
    margin-bottom: 30px
}

/* instructions page */


.cl-thank-you {
    color: white;
}

h1.cl-instructions-lead-in, h2.cl-instructions-lead-in {
    font-style: italic;
    font-size: 1.4em;
}

.cl-3-steps-heading {
    text-align: center;
}

.cl-3-steps-heading span {}

.cl-instructions-list li {
    margin: 20px 0;
}


/* story page */
.cl-first-row{
    margin-top:120px;
}
.cl-wide-row{
    text-align: center;
}
.cl-name-row .cl-big-donor-name {
    max-width:100%;
    width: 280px;
}
.cl-icon-row{
    /* padding: 60px 0; */
    padding: 10px 0;
}
.cl-dotted-line-image{
    max-width:100%;
    /* width:320px; */
    width:150px;
}



/* general stles */
.cl-no-style-list {
    list-style: none;
    padding-left: 0;
}




/* .cl-circle-icon-box {
    display: inline-block;
    background-color: white;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    padding: 8px 0px;
} */

/* .cl-button-icon-orange {
    color: #CB4B16;
    fill: #CB4B16;
}
.cl-button-icon-yellow {
    color: #B58900;
    fill: #B58900;
}
.cl-button-icon-teal {
    color: #2AA198;
    fill: #2AA198;
} */
/* .cl-letter-icon{
    font-family:raleway, sans-serif;
} */

/* .cl-big-instruction-list>li{
    margin-bottom:20px;
} */



