html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body.cl-body {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

.cl-cover-container {
    max-width: 600px;
    /* border: 1px solid white; */
}

.cl-ptb-logo {
    width: 100%;
    max-width: 300px;
    display: inline-block;
}

header.cl-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Home Page */

.cl-home-content {
    text-align: center;
}

.cl-main-content {
    padding: 50px 0;
}

h1.cl-big-runner-name, h2.cl-big-runner-name {
    font-family: 'Shrikhand', serif;
    font-size: 3.3em;
    color: #eaeaea;
    max-width: 100%;
    width: 420px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1;
}

.cl-text-shadow {
    font: bold 52px Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 1px #CB4B16, 2px 2px #CB4B16, 3px 3px #CB4B16;
}

.cl-big-runner-message {
    text-transform: uppercase;
}

.cl-button-box {
    margin-top: 60px;
}

.cl-big-action-button {
    margin-bottom: 80px;
    padding: 4px 20px;
    width: 100%;
    max-width: 280px;
    margin: 3px 0;
    min-height: 40px;
    font-size: 23px;
    text-transform: uppercase;
}

.cl-button-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    fill: white;
    vertical-align: middle;
}

.cl-button-text {
    vertical-align: middle;
    width: 120px;
    display: inline-block;
    text-align: left;
    padding-left: 8px;
    line-height: 1.2;
}

.cl-big-logo-box {
    margin-top: 60px;
}

.cl-big-logo {
    width: 100%;
    max-width: 230px;
    display: inline-block;
    margin-bottom: 30px
}

/* ASDFASDF */
/* Steps Pages */
.cl-blurb{
    text-transform: uppercase;
    text-align: center;
    color:white;
    font-size:1.25em;
}
.cl-blurb.cl-a-bit-smaller{
    font-size:1.1em;
}
.cl-giant-step-text{
    font-size:2.7em;
    text-transform: uppercase;
    text-align: center;
}
.cl-fancy-subheading{
    font-size: 1.5em;
    font-family: 'Shrikhand', serif;
    text-transform: uppercase;
    text-align: center;
}
.cl-fancy-subheading.cl-a-bit-smaller{
    font-size: 1.25em;
}

.cl-seriously-huge-button{
    padding: 14px 40px;
    font-size: 1.8em;        
}


/* About Page */




/* 
.cl-thank-you {
    color: white;
}

h1.cl-instructions-lead-in, h2.cl-instructions-lead-in {
    font-style: italic;
    font-size: 1.4em;
}

.cl-3-steps-heading {
    text-align: center;
}

.cl-3-steps-heading span {}

.cl-instructions-list li {
    margin: 20px 0;
} */



/* step 2*/
.cl-iframe-box {
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    padding: 0;
    display: inline-block;
}

/* general styles */
.cl-no-style-list {
    list-style: none;
    padding-left: 0;
}

.cl-spinner-box {
    margin: 100px 0;
}

/* story page */
.cl-wide-row {
    text-align: center;
}

.cl-name-row .cl-big-runner-name {
    max-width: 100%;
    width: 280px;
}

.cl-runner-comment{
    font-size:1.5em;
}

.cl-icon-row {
    /* padding: 60px 0; */
    padding: 10px 0;
    margin: 30px 0;
}

.cl-dotted-line-image {
    max-width: 100%;
    /* width:320px; */
    width: 150px;
}


.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-27 22:8:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  


  /* .cl-circle-icon-box {
    display: inline-block;
    background-color: white;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    padding: 8px 0px;
} */

/* .cl-button-icon-orange {
    color: #CB4B16;
    fill: #CB4B16;
}
.cl-button-icon-yellow {
    color: #B58900;
    fill: #B58900;
}
.cl-button-icon-teal {
    color: #2AA198;
    fill: #2AA198;
} */

/* .cl-letter-icon{
    font-family:raleway, sans-serif;
} */

/* .cl-big-instruction-list>li{
    margin-bottom:20px;
} */

